<!DOCTYPE html>
<!-- saved from url=(0034)https://www.NEWSNIPPET.com/privacy/ -->
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  
  <meta name="viewport" content="width=320,initial-scale=1.0,minimum-scale=1.0">
  <title>NEWSNIPPET Privacy Policy</title>
<style data-jss="" data-meta="MuiDialog">
@media print {
  .MuiDialog-root {
    position: absolute !important;
  }
}
.MuiDialog-scrollPaper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.MuiDialog-scrollBody {
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
}
.MuiDialog-scrollBody:after {
  width: 0;
  height: 100%;
  content: "";
  display: inline-block;
  vertical-align: middle;
}
.MuiDialog-container {
  height: 100%;
  outline: 0;
}
@media print {
  .MuiDialog-container {
    height: auto;
  }
}
.MuiDialog-paper {
  margin: 32px;
  position: relative;
  overflow-y: auto;
}
@media print {
  .MuiDialog-paper {
    box-shadow: none;
    overflow-y: visible;
  }
}
.MuiDialog-paperScrollPaper {
  display: flex;
  max-height: calc(100% - 64px);
  flex-direction: column;
}
.MuiDialog-paperScrollBody {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.MuiDialog-paperWidthFalse {
  max-width: calc(100% - 64px);
}
.MuiDialog-paperWidthXs {
  max-width: 444px;
}
@media (max-width:507.95px) {
  .MuiDialog-paperWidthXs.MuiDialog-paperScrollBody {
    max-width: calc(100% - 64px);
  }
}
.MuiDialog-paperWidthSm {
  max-width: 600px;
}
@media (max-width:663.95px) {
  .MuiDialog-paperWidthSm.MuiDialog-paperScrollBody {
    max-width: calc(100% - 64px);
  }
}
.MuiDialog-paperWidthMd {
  max-width: 960px;
}
@media (max-width:1023.95px) {
  .MuiDialog-paperWidthMd.MuiDialog-paperScrollBody {
    max-width: calc(100% - 64px);
  }
}
.MuiDialog-paperWidthLg {
  max-width: 1280px;
}
@media (max-width:1343.95px) {
  .MuiDialog-paperWidthLg.MuiDialog-paperScrollBody {
    max-width: calc(100% - 64px);
  }
}
.MuiDialog-paperWidthXl {
  max-width: 1920px;
}
@media (max-width:1983.95px) {
  .MuiDialog-paperWidthXl.MuiDialog-paperScrollBody {
    max-width: calc(100% - 64px);
  }
}
.MuiDialog-paperFullWidth {
  width: calc(100% - 64px);
}
.MuiDialog-paperFullScreen {
  width: 100%;
  height: 100%;
  margin: 0;
  max-width: 100%;
  max-height: none;
  border-radius: 0;
}
.MuiDialog-paperFullScreen.MuiDialog-paperScrollBody {
  margin: 0;
  max-width: 100%;
}
</style></head>

<body>
  <div id="container">
    <a name="us">

      </a><section><a name="us">

        <h1>NEWSNIPPET Privacy Policy</h1>

        <h2>Introduction</h2>
        <p>Protecting your privacy is very important to NEWSNIPPET. Our mission is delivering the world’s quality
          information to the people who need it and this should not come at the price of your privacy.</p>

        <h3>Scope</h3>
        <p>Accordingly, we’re providing this Privacy Policy to explain our practices regarding the collection, use and
          disclosure of information that we receive when you use our Services. This Privacy Policy does not apply to any
          third-party websites, services or applications, even if they are accessible through our Services. Any
          information that we collect is subject to the Privacy Policy in effect at the time that information is
          collected.</p>

        <h3>Updates to this Privacy Policy</h3>
        <p>We may modify and revise this Privacy Policy from time to time. If we make any material changes to this
          Privacy Policy, we’ll notify you of those changes by posting them on the Services or take other actions as
          required by applicable law, and we’ll indicate when those changes will become effective. Also, please note
          that, unless we define a term in this Privacy Policy, all capitalized words used in this Privacy Policy have
          the same meanings as in our Terms of Service.</p>

        <h2 class="medium-margin-bottom">Information We Collect</h2>
        <div class="border-box">
          <p class="small-pad-left">To provide our Services, we collect:</p>
          <ol>
            <li>Information Provided by You or Collected with Your Permission</li>
            <li>Information Related to Your Use of the Services</li>
            <li>Information from our Partners</li>
          </ol>
        </div>

        <div class="header-list">
          <h3>Information Provided by You or Collected with Your Permission.</h3>
          <ul>
            <li><span class="underline-text">User Data</span>: We may collect demographic data and information about
              your interests to help us understand what content you might be interested in. When you set up your own
              account or otherwise interact with our Services, we may also collect certain personal information that can
              be used to identify you, which may include your name, your e-mail address, your profile image and other
              information.</li>
            <li><span class="underline-text">Interactive Features</span>: We may offer interactive features, including
              features that let you submit User Content. We and other individuals who use our Services may collect the
              information you submit or make available through our interactive features. Any information shared on the
              public sections of these channels will be considered “public” and will not be subject to the privacy
              protections referenced herein.</li>
            <li><span class="underline-text">Survey Data</span>: We may contact you to participate in surveys. If you
              decide to participate, you may be asked to provide certain information that may include personal
              information.</li>
          </ul>

          <h3>Information Related to Your Use of the Services</h3>
          <ul>
            <li><span class="underline-text">Device Data</span>: We and third parties we work with may automatically
              collect certain data about the device you use to access our Services. This data may include your Internet
              Protocol (IP) address, mobile advertising identifiers (Google Advertising ID or Apple Advertising ID) and
              other unique identifiers, cookie identifiers, model name, operating system, country code, app version, and
              other user settings and preferences.</li>
            <li><span class="underline-text">Activity Data</span>: We automatically collect certain data about your
              activities on our Services, including the pages, content or features of our Services you browse and the
              time you spend on those pages, content or features, the hyper-links from the contents displayed on our
              Services that you click on, referrer information and other information about how you use our Services.
            </li>
          </ul>

          <h3>Information from Our Partners.</h3>
          <ul>
            <li><span class="underline-text">Third-Party Partners</span>: We may receive your information from our
              partners, such as publishers, advertisers, and third-party data providers. Our partners may provide
              demographic data and information about your activities and interests off our services, including
              information about your device, device identifiers, your precise or approximate location, websites and
              advertisements you interact with, your browsing patterns, and information about how you use our partner’s
              services.</li>
          </ul>
          

          <h2 class="medium-margin-bottom">How Do We Use Information?</h2>
          <div class="border-box">
            <p class="small-pad-left">Our primary purpose for collecting and using information is to deliver quality
              Content to you, our users. We also collect and use your information for a variety of business purposes,
              including:
            </p>

            <ol>
              <li>To Provide the Services or Information Requested</li>
              <li>To Measure Performance and Carry Out Research</li>
              <li>For Customer Support</li>
              <li>For Advertising Purposes</li>
              <li>For Administrative or Legal Purposes</li>
            </ol>
          </div>

          <div class="header-list">
            <h3>To Provide the Services or Information Requested. This includes using your information to:</h3>
            <ul>
              <li>Fulfill our contract with you;</li>
              <li>Tailor and deliver Content curated according to your interests which we infer from the data we
                collect;</li>
              <li>Provide access to certain functionalities, and features of our Services, such as the local news
                feature and the weather forecast feature;</li>
              <li>Create and update your account; and</li>
              <li>Manage your information.</li>
            </ul>
            <h3>To Measure Performance and Carry Out Research. This includes using your information to:</h3>
            <ul>
              <li>Measure interest and engagement in the Services;</li>
              <li>Pursue our legitimate interests, such as research and development (including marketing research),
                network and information security, and fraud prevention;</li>
              <li>Improve our products and Services;</li>
              <li>Develop new products and services; and</li>
              <li>Carry out analytics. For example, we may use personal information and other data to create
                de-identified and aggregated information, such as de-identified demographic information, de-identified
                location information, information about the computer or device from which you access our Services, or
                other analyses we create.</li>
            </ul>
            <h3>For Customer Support. This includes using your information to:</h3>
            <ul>
              <li>Respond to questions, comments, and other requests from you;</li>
              <li>Investigate and answer requests for customer or technical support; and</li>
              <li>Communicate with you about activities on the Services and changes to our Terms of Service.</li>
            </ul>
            <h3>For Advertising Purposes. This includes using your information to:</h3>
            <ul>
              <li>Tailor and provide personalized advertisements with you. We and our third-party partners may provide
                you with these materials as permitted by applicable law.</li>
              <li>Engage in cross device tracking, which helps us to track your browsing activity across different
                websites, devices and/or apps. For example, we may attempt to match your browsing activity on your
                mobile device with your browsing activity on your tablet. To do this, our technology partners may share
                data, such as your browsing patterns, geo-location and device identifiers, and will match the
                information of the browser and/or devices that appear to be used by the same user.</li>
            </ul>
            <h3>For Administrative or Legal Purposes. This includes using your information to:</h3>
            <ul>
              <li>Ensure internal quality control and safety;</li>
              <li>Verify individual identity to respond to certain requests or claims;</li>
              <li>Carry out audits; </li>
              <li>Prevent and prosecute potentially prohibited or illegal activities;</li>
              <li>Enforce our agreements; and</li>
              <li>Comply with our legal obligations. For example, we may disclose your information to certain government
                entities regarding certain claims or disputes relating to use of our Services.</li>
            </ul>
          </div>

          <h2>What Information Do We Share With Third Parties?</h2>
          <p>We may share the information that we have collected from you:</p>

          <ol class="border-box">
            <li>With Our Advertising Partners</li>
            <li>With Our Service Providers</li>
            <li>With Your Consent or at Your Request</li>
            <li>With Affiliates</li>
            <li>For Legal Reasons</li>
            <li>In Connection with Business Transactions</li>
          </ol>

          <div class="header-list">
            <h3>Information Shared with Our Advertising Partners.</h3>
            <p>We may engage third party advertising partners to collect information and serve advertising on and
              through the Services. When you use our Services, these third-party advertising partners may collect
              information regarding your activities and your device (e.g., your IP address, mobile device identifiers,
              page(s) visited, location, time of day). These advertising partners may use this information (and similar
              information collected from other services) for purposes of delivering personalized advertisements to you
              when you visit our Services and third-party services within their networks. This practice is commonly
              referred to as “interest-based advertising” or “personalized advertising.”</p>
            <p>If you prefer not to share your personal information with third-party advertising partners, you may
              follow the instructions below.</p>

            <h3>Information Shared with Our Media Partners.</h3>
            <p>We have a number of media partners to provide quality content for the provision of the Services. To
              enable them to improve their content, we may provide the media partners with statistical information that
              does not identify individual users, such as demographic data and the number of page views of those who
              view each content.</p>

            <h3>Information Shared with Our Service Providers.</h3>
            <p>We may engage third party service providers to work with us to administer and provide the Services. The
              types of service providers to whom we entrust information include service providers for: (i) the provision
              of the Services; (ii) the provision of information, products, and other services you have requested; (iii)
              analytics; (iv) marketing and advertising; (v) customer service activities; and (vi) the provision of IT
              and related services. For example, we use MailChimp to send you correspondence regarding our Services,
              including, without limitation, our promotional newsletters and e-mails. For more information, please see
              MailChimp’s privacy policy: <a href="https://mailchimp.com/legal/privacy/" target="_blank">https://mailchimp.com/legal/privacy/</a>.</p>
            <p>We also use analytics services from Google including Google Analytics for Firebase to collect analytics
              information on the Services. Additionally, we use YouTube’s API Client in order to understand the content of YouTube videos to improve how we offer
              the Services to you. For more information about Google’s processing of your information, please
              visit: <a href="https://policies.google.com/technologies/partner-sites" target="_blank">https://policies.google.com/technologies/partner-sites</a>. To learn more about how to
              opt-out of Google Analytics’ use of your information on our website, please visit: <a href="https://tools.google.com/dlpage/gaoptout" target="_blank">https://tools.google.com/dlpage/gaoptout</a>.</p>

            <h3>Information We Disclose with Your Consent or at Your Request.</h3>
            <p>We may share your information with third parties if you provide us with your consent or if you have
              expressly requested that we share your information.</p>

            <h3>Information Shared with Affiliates.</h3>
            <p>We may outsource the handling of personal information to our affiliated companies in accordance with
              applicable law.
            </p><p>

            </p><h3>Information Disclosed for Legal Reasons.</h3>
            <p>We cooperate with government and law enforcement officials or private parties to enforce and comply with
              the law. We may disclose any information about you to government or law enforcement officials or private
              parties as we, in our sole discretion, believe necessary or appropriate: (i) to respond to claims, legal
              process (including subpoenas); (ii) to protect our property, rights and safety and the property, rights
              and safety of a third party or the public in general; and (iii) to stop any activity that we consider
              illegal, unethical or legally actionable activity.</p>

            <h3>Information Shared in Connection with Business Transactions.</h3>
            <p>If we are involved in a merger, acquisition, financing due diligence, reorganization, bankruptcy,
              receivership, purchase or sale of assets, or transition of service to another provider, your information
              may be sold or transferred as part of such a transaction, as permitted by law and/or contract.</p>
          </div>

          <h2>Cookies and Third-Party Technologies</h2>
          <p><strong>Cookies and Pixel Tags.</strong> We may use cookies, pixel tags, and other similar technologies.
            Cookies are small text files placed in device browsers that store preferences and facilitate and enhance
            your experience. A pixel tag (also known as a web beacon) is a piece of code embedded in our Services that
            collects information about engagement on our Services. We may also include web beacons in e-mails to
            understand whether messages have been opened, acted on, or forwarded.</p>
          <p>Our use of cookies and similar technologies falls into the following general categories: (i) operationally
            necessary; (ii) performance-related; (iii) functionality-related; and (iv) advertising-related.</p>
          <p><strong>Software Development Kits.</strong> We may use third party software development kits
            (“<strong>SDKs</strong>”) as part of the functionality of our App. SDKs typically collect your mobile device
            identifier and information related to your use of the Services. SDKs may allow third parties including
            analytics and advertising partners to collect your information for various purposes including to provide
            analytics services and personalized advertising. For more information about the SDKs we use, please contact
            us as set forth below.</p>

          <h2>Your Choices</h2>
          <p><strong>General.</strong> You may have the right to opt out of certain uses of your information.</p>
          <p><strong>Email Communications.</strong> If you receive an unwanted email from us, you can use the
            unsubscribe link found at the bottom of the email to opt out of receiving future emails. Note that you will
            continue to receive transaction-related emails regarding products or Services you have requested. We may
            also send you certain non-promotional communications regarding us and our Services, and you will not be able
            to opt out of those communications (e.g., communications regarding the Services or updates to our Terms of
            Service or this Privacy Policy).</p>
          <p><strong>Mobile Devices.</strong> We may send you push notifications through our App. You may opt-out from
            receiving these types of communications by changing the settings on your mobile device. We may also collect
            precise location information if you enable such collection via our App. You may opt-out of this collection
            by changing the settings on your mobile device.</p>
          <p><strong>Personalized Advertising.</strong> If you would like to opt-out of the advertising and other
            similar technologies (e.g., cookies) we employ on the Services, you may do so by blocking, disabling, or
            deleting them as your browser or device permits, including by following the steps set forth below. Please
            note that you can opt out of personalized advertising (i.e., targeted advertising), but you will continue to
            see non-personalized online advertising on the Services and/or other digital properties.</p>
          <ol id="ordered-brackets-list">
            <li class="numbered">To limit ad tracking by Apple, Google, or other mobile operating systems: please follow
              the instructions for <a href="https://support.google.com/googleplay/android-developer/answer/6048248?hl=en" target="_blank">Android</a>, <a href="https://support.apple.com/en-us/HT202074" target="_blank">iOS</a>,
              and <a href="https://www.networkadvertising.org/mobile-choice/" target="_blank">others</a>. Other
              operating systems for mobile devices may also provide instructions on how to prevent the delivery of
              personalized advertisements.</li>
            <li class="numbered">To opt-out of the personalized advertising by certain third parties: please opt-out of
              personalized advertisement using your account settings on each applicable service. If you do not have any
              account on a certain service, you likely will not see any personalized advertisements from that service.
            </li>
            <div class="overflow-container">
              <ul>
                <li><a href="https://adssettings.google.com/authenticated" target="_blank">https://adssettings.google.com/authenticated</a></li>
                <li><a href="https://www.facebook.com/ads/preferences/" target="_blank">https://www.facebook.com/ads/preferences/</a></li>
              </ul>
            </div>
          </ol>
          <p>The online advertising industry also provides websites from which you may opt-out of receiving targeted ads
            from advertisers that participate in self-regulatory programs. You can access these, and also learn more
            about targeted advertising and consumer choice and privacy, at <a href="https://optout.networkadvertising.org/" target="_blank">https://optout.networkadvertising.org/</a>,
            <a href="https://www.youronlinechoices.com/" target="_blank">https://www.youronlinechoices.com/</a> and <a href="https://optout.aboutads.info/" target="_blank">https://optout.aboutads.info/</a>.
          </p>
          <p>Please note that cookie-based opt-outs are not effective on mobile applications and you must separately opt
            out in each browser and on each device.</p>
          <p><strong>“Do Not Track.”</strong> Do Not Track (“<strong>DNT</strong>”) is a privacy preference that users
            can set in certain web browsers. Please note that we do not respond to or honor DNT signals or similar
            mechanisms transmitted by web browsers when you visit our website.</p>

          <h2>Individual Rights in Personal Information</h2>
          <p>In accordance with applicable law, you may have the right to:</p>

          <ul>
            <li>confirm whether or not we are processing your personal information;</li>
            <li>obtain access to or a copy of your personal information with accompanying details;
            </li><li>receive an electronic copy of personal information that you have provided to us, or ask us to send that
              information to another company (the “right of data portability”);</li>
            <li>change, update, or correct your personal information;</li>
            <li>withdraw your consent to process your personal information;</li>
            <li>request that we restrict or limit our use of your personal information;</li>
            <li>request to opt-out of certain processing activities including, as applicable, if we process your
              personal information for “targeted advertising” (as “targeted advertising” is defined by applicable privacy laws), if we “sell” your personal information (as “sell” is defined by applicable privacy laws), or if we engage in profiling in furtherance of certain decisions that produce legal or similarly significant effects concerning you;</li>
            <li>request erasure of personal information held about you by NEWSNIPPET;</li>
            <li>object to our processing of your personal information; and</li>
            <li>appeal our decision to decline to process your request.</li>
          </ul>

          <h2>How Long Do We Retain Your Information?</h2>
          <p>We store the personal information we collect as described in this Privacy Policy for as long as you use our
            Services or as necessary to fulfill the purpose(s) for which it was collected, provide our Services, resolve
            disputes, establish legal defenses, pursue legitimate business purposes, enforce our agreements, and comply
            with applicable laws.</p>


          <h2>Links to Other Services</h2>
          <p>Our Services may contain links to other websites and services, including News Content. Any information that
            you provide on or to or that is collected by a third-party website or service is provided directly to the
            owner of the website or service and is subject to that party's privacy policy. Our Privacy Policy does not
            apply to such websites or services and we’re not responsible for the content, privacy or security practices
            and policies of those websites or services. To protect your information, we recommend that you carefully
            review the privacy policies of other websites and services that you access. Visiting these other websites or
            services is at your own risk.</p>


          <h2>Questions?</h2>

          <p>Please contact us at newsnippet.official@gmail.com if you have any questions about our Privacy Policy.</p>

          <p style="margin-top: 3rem; font-size: 0.8rem; text-align: right;">NEWSNIPPET<br>creator of NEWSNIPPET Ko hasegawa</p>

      </div></section>


          <h1>NEWSNIPPETプライバシーポリシー</h1>

          <h2>はじめに</h2>
          <p>
            NEWSNIPPETは、利用者のプライバシーを保護することを重視しています。私たちのミッションは、世界中の良質な情報を必要な人に送り届けることであり、そのミッションは利用者のプライバシーを犠牲にして達成されるべきではありません。
          </p>

          <h3>適用範囲</h3>
          NEWSNIPPETプライバシーポリシー（以下「本ポリシー」といいます）は、NEWSNIPPET（以下「我々」といいます）がどのような情報を取得し、それをどのように使用し、共有し、開示するかを説明するものです。
          本ポリシーは、NEWSNIPPET
          のブランド、製品、アプリケーション、ウェブサイト及びサービスのうち、個別のプライバシーポリシーを持たないか、本ポリシーにリンクしているものすべて（以下「本サービス」といいます）に適用されます。
          本ポリシーは、第三者が提供するサービス（本サービスを通じて表示され又は本サービスからリンクしている記事、コンテンツ、サイトを含みます）には適用されません。
          我々が取り扱うすべての情報は、情報が取り扱われる時点で有効な本ポリシーに準拠するものとします。

          <h3>本ポリシーの変更</h3>
          我々は、本ポリシーを随時変更し、改訂することがあります。我々が本ポリシーに重大な変更を加えた場合、我々は、本サービス上に掲載するか、又は適用法により要求されるその他の措置を取ることにより、これをユーザに通知し、変更が有効になる時期を示すものとします。なお、本ポリシーで使用されている用語は、本ポリシーで別途定義されていない限り、本サービスの利用規約と同じ意味を持つものとします。

          <h2 class="medium-margin-bottom">取得する情報</h2>
          <div class="border-box">
            <p class="small-pad-left">我々は、本サービスの提供のため、本サービスの利用者（以下「ユーザ」といいます）から以下の情報を収集します。</p>
            <ol>
              <li>ユーザから提供を受けた情報又はユーザの許可を得て取得した情報</li>
              <li>ユーザの本サービス利用に関する情報</li>
              <li>外部パートナーからの情報</li>
            </ol>
          </div>

          <div class="header-list">
            <h3>ユーザから提供を受けた情報又はユーザの許可を得て取得した情報</h3>
            <ul>
              <li>
                ユーザに関する情報：我々は、ユーザがどのようなコンテンツに興味があるかを理解するため、ユーザの属性や興味関心に関する情報を取得することがあります。また、ユーザがご自身のアカウントを設定したり、その他の方法で本サービスを利用する際、我々は特定のユーザを識別しうる情報（氏名、メールアドレス、プロフィール画像その他の情報）を取得することがあります。
              </li>
              <li>
                SNSに関する情報：我々は、ユーザが本サービスを通じて特定のソーシャル・ネットワーキング・サービス（以下「SNS」といいます）を利用することを許可する場合があり、ユーザがプライバシー設定を通じて利用可能にしたSNSからユーザに関する情報を取得する場合があります。例えば、ユーザがユーザのTwitterアカウントを本サービスにリンクし、ユーザがTwitterでフォローしている人たちがどのようなニュースを共有しているかを知りたい場合、これらのニュースへのリンクが本サービスを通じてユーザに送信されます。
                ユーザの情報がSNSでどのように共有されるか、また、ユーザのSNSアカウントで利用可能な情報については、ご利用のSNSのプライバシーポリシーをご確認ください。</li>
              <li>
                インタラクティブな機能に基づく情報：我々は、ユーザがユーザコンテンツを送信できる機能を含むインタラクティブな機能を提供する場合があります。我々及び本サービスを利用する他のユーザは、我々のインタラクティブな機能を通じてユーザが送信した情報又は利用可能にした情報を取得することがあります。これらの機能で公開された情報は、本ポリシーで言及されているプライバシー保護の対象とはなりません。
              </li>
              <li>調査に関する情報：我々は、我々による調査に参加していただくためユーザに連絡することがあります。ユーザが当該調査に参加する場合、個人情報を含む特定の情報の提供を求められることがあります。</li>
            </ul>

            <h3>ユーザの本サービス利用に関する情報</h3>
            <ul>
              <li>
                端末情報：我々及び我々が提携する第三者は、ユーザが本サービスにアクセスするために使用する端末に関する情報を自動的に収集することがあります。この情報には、ユーザのインターネットプロトコル（IP）アドレス、端末別の広告識別子（Google
                Advertising ID又はApple Advertising
                ID）その他の端末識別子、クッキー情報、端末名、オペレーティングシステム、国コード、アプリのバージョン、及びその他のユーザ設定情報が含まれる場合があります。</li>
              <li>
                行動データ：我々は本サービス上でのユーザの行動に関する一定のデータを自動的に取得します。これには、ユーザが閲覧した本サービスのページ、コンテンツ又は機能、それらのページ、コンテンツ又は機能を使用した時間、ユーザがクリックした本サービスに表示されているコンテンツからのハイパーリンク、リファラに関する情報など、ユーザが本サービスをどのように利用しているかに関する情報が含まれます。
              </li>
              <li>
                位置情報：ユーザは、ご自身の選択により、天気やローカルニュース、ローカル広告を表示するため、我々に対し郵便番号や市区町村情報、GPS情報などの位置情報を提供することができます。さらに、我々は、ユーザのIPアドレスに基づいてユーザの位置を推測したり、ユーザの端末からのセンサーデータによる近くのWi-Fiアクセスポイントやセルタワーの情報が提供されるものなど、他の様々な技術を使用してユーザの位置を推測することがあります。
              </li>
            </ul>

            <h3>外部パートナーからの情報</h3>
            <ul>
              <li>
                外部パートナーからの情報：我々は、媒体社、広告主、データプロバイダなどのパートナーからユーザの情報を受け取ることがあります。我々のパートナーは、ユーザの端末に関する情報、端末識別子、ユーザの位置情報、ユーザが利用するウェブサイトや広告、ユーザの閲覧パターン、ユーザが我々のパートナーのサービスをどのように利用しているかに関する情報を含む、本サービス外におけるユーザの行動や属性、興味関心に関する情報を我々に提供することがあります。
              </li>
            </ul>
          </div>

          <h2 class="medium-margin-bottom">取得した情報の利用目的</h2>
          <div class="border-box">
            <p class="small-pad-left">我々が情報を取り扱う主な目的は、良質な情報をユーザに提供することにあります。我々は、以下のような様々な業務目的のためにユーザの情報を取り扱います。</p>
            <ol>
              <li>サービスや情報の提供のため</li>
              <li>パフォーマンスの測定と調査の実施のため</li>
              <li>カスタマーサポートのため</li>
              <li>広告提供のため</li>
              <li>管理運営上又は法律上の目的のため</li>
            </ol>
          </div>

          <div class="header-list">
            <h3>サービスや情報の提供のため。これには、以下の目的でユーザの情報を取り扱うことが含まれます。</h3>
            <ul>
              <li>ユーザとの契約を履行するため</li>
              <li>我々が取得したデータから推測されたユーザの興味関心に合わせて、コンテンツをカスタマイズして提供するため</li>
              <li>ローカルニュース機能や天気予報機能など、本サービスの特定の機能へのアクセスを提供するため</li>
              <li>ユーザのアカウントの作成と更新のため</li>
              <li>ユーザの情報の管理のため</li>
            </ul>

            <h3>パフォーマンスの測定と調査の実施のため。これには、以下の目的でユーザの情報を取り扱うことが含まれます。</h3>
            <ul>
              <li>本サービスにおける興味関心と滞在時間等の利用状況を測定するため</li>
              <li>研究開発（マーケティング調査を含む）、ネットワークセキュリティ及び情報セキュリティ、不正行為防止など、我々の正当な利益を追求するため</li>
              <li>我々の製品や本サービスを改善するため</li>
              <li>新製品やサービスを開発するため</li>
              <li>
                一定の分析を実施するため。例えば、個人情報やその他のデータを使用して、非識別化された人口統計情報、非識別化された位置情報、ユーザが本サービスにアクセスしたコンピュータや端末に関する情報その他の分析情報など、非識別化された統計情報を作成することがあります。
              </li>
            </ul>

            <h3>カスタマーサポートのため。これには、以下の目的でユーザの情報を取り扱うことが含まれます。</h3>
            <ul>
              <li>ユーザからのご質問、ご意見、その他のご要望にお応えするため</li>
              <li>ユーザや技術サポートのための要望を調査し、お応えするため</li>
              <li>本サービス上での行動や利用規約の変更について、ユーザと連絡を取り合うため</li>
            </ul>

            <h3>広告提供のため。これには、以下の目的でユーザの情報を取り扱うことが含まれます。</h3>
            <ul>
              <li>ユーザにパーソナライズされた広告を提供するため。我々及び我々のパートナーは、適用される法令の許容する範囲で、パーソナライズされた広告を提供することがあります。</li>
              <li>
                クロスデバイストラッキングを行うことで、異なるウェブサイト、端末、又はアプリでのユーザの閲覧履歴を照合するため。例えば、我々は、ユーザのモバイル端末での閲覧履歴と、ユーザのタブレット端末での閲覧履歴を照合しようとすることがあります。これを行うために、我々のパートナーは、ユーザの行動パターン、位置情報、端末識別子などのデータを共有することがあり、同じユーザが使用していると思われるブラウザ又は端末の情報を照合します。
              </li>
            </ul>

            <h3>管理運営上又は法律上の目的のため</h3>
            <ul>
              <li>品質管理と安全性の確保のため</li>
              <li>特定のご依頼やご請求に対応するための本人確認のため</li>
              <li>監査の実施のため</li>
              <li>禁止行為や不正違法の可能性のある行為を防止し、通報するため</li>
              <li>契約の履行のため</li>
              <li>我々の法的義務を遵守するため。例えば、我々は、本サービスの利用に関連する特定のクレームや紛争に関して、特定の司法又は行政機関にユーザの情報を開示することがあります。</li>
            </ul>
          </div>

          <h2 class="medium-margin-bottom">情報の共有</h2>
          <div class="border-box">
            <p class="small-pad-left">我々は、以下のような場合において、ユーザから収集した情報を共有することがあります。</p>
            <ol>
              <li>広告に関するパートナーと共有する場合</li>
              <li>サービスプロバイダと情報を共有する場合</li>
              <li>ユーザの同意を得た場合又はユーザの要求がある場合</li>
              <li>関連会社と共有する場合</li>
              <li>法律上定められた場合</li>
              <li>事業承継等に関連する場合</li>
            </ol>
          </div>

          <div class="header-list">
            <h3>広告に関するパートナーと共有する場合</h3>
            <p>
              我々は、本サービス上及び本サービスを通じて情報を取得し、広告を提供するために、広告に関するパートナー（以下「広告パートナー」といいます）と連携することがあります。ユーザが本サービスを利用する際、これらの広告パートナーは、ユーザの行動及びユーザの端末に関する情報を取得することがあります（例：ユーザのIPアドレス、端末識別子、訪問したページ、場所、時間帯）。これらの広告パートナーは、ユーザが本サービス及び当該広告パートナーがネットワークを持つ他のサービスにアクセスした際に、ユーザにパーソナライズされた広告を配信する目的で、当該情報（及び他のサービスから収集した同様の情報）を使用することがあります。このプラクティスは、一般的に「インタレストベース広告」又は「パーソナライズされた広告」と呼ばれています。
            </p>
            <p>ユーザの個人情報を第三者の広告パートナーと共有したくない場合は、後述する方法に従ってください。</p>

            <h3>メディアパートナーと共有する場合</h3>
            <p>
              我々は、本サービスの提供のために、多数のメディアパートナーと契約を締結し、良質なコンテンツの提供を受けています。我々は、メディアパートナーに対し、より良いコンテンツ作成のために、ユーザ個人を特定しない統計情報として、各コンテンツの閲覧に関する属性情報や閲覧件数等のデータを提供することがあります。
            </p>

            <h3>サービスプロバイダと情報を共有する場合</h3>
            <p>
              我々は、本サービスの提供及び管理のために、サービスプロバイダと契約することがあります。我々が情報の取扱いを委託するサービスプロバイダの種類には、以下のものが含まれます。(i)本サービスの提供のためのもの、(ii)ユーザが要求した情報、機能その他のサービスの提供のためのもの、(iii)分析のためのもの、(iv)マーケティング及び広告のためのもの、(v)カスタマーサービスのためのもの、(vi)IT関連サービスの提供のためのもの。
              例えば、我々はMailChimpを使用して、本サービスに関する通知（我々のニュースレターや電子メールを含みますがこれらに限定されません）をユーザに送信しています。詳細については、MailChimpのプライバシーポリシー（<a href="https://mailchimp.com/legal/privacy/" target="_blank">https://mailchimp.com/legal/privacy/</a>）をご覧ください。</p>
            <p>また、Google Analytics for
              Firebaseを含むGoogleの分析サービスを利用して、本サービスの分析情報を取得しています。さらに、コンテンツ内のYouTube動画の提供のためにYouTube APIを利用しています。Googleによるユーザの情報の取扱いについての詳細は、Googleのプライバシーポリシー（<a href="https://policies.google.com/technologies/partner-sites" target="_blank">https://policies.google.com/technologies/partner-sites</a>）をご覧ください。Google
              Analyticsによる我々ウェブサイト上でのユーザの情報の取扱いをオプトアウトする方法の詳細については、<a href="https://tools.google.com/dlpage/gaoptout" target="_blank">https://tools.google.com/dlpage/gaoptout</a> をご覧ください。</p>

            <h3>ユーザの同意を得た場合又はユーザの要求がある場合</h3>
            <p>我々は、ユーザから同意を得た場合、又は我々がユーザの情報を共有することをユーザ自身が明示的に要求した場合には、ユーザの情報を第三者と共有することがあります。</p>

            <h3>関連会社に取扱いを委託する場合</h3>
            <p>我々は、適用法令を遵守した上で、我々の関連会社に対し個人に関する情報の取扱いを委託することがあります。</p>

            <h3>法律上定められた場合</h3>
            <p>
              我々は、司法機関、行政機関、又は民間団体と協力して、法律を執行し、遵守します。我々は、我々の裁量で、次に掲げる事由のため必要又は適切と考える場合には、法令に基づき、司法機関、行政機関又は民間団体にユーザに関する情報を開示することがあります。(i)請求、法的手続き（召喚状を含む）に対応するため、(ii)我々の財産、権利、安全、及び第三者又は一般の公衆の財産、権利、安全を保護するため、及び(iii)
              我々が違法、非倫理的又は法的措置をとることが可能と我々が判断する活動を防ぐため。
            </p>

            <h3>事業承継等に関連する場合</h3>
            <p>
              我々が合併、買収、資金調達のためのデューデリジェンス、組織再編、破産、管財、資産の購入あるいは売却、又は他の事業者へのサービスの移行に関与している場合、ユーザの情報は、法律又は契約で認められる範囲で、当該取引の一環として共有されることがあります。
            </p>
          </div>

          <h2>クッキー等の利用</h2>
          <h3>クッキーとピクセルタグ等</h3>
          <p>
            我々は、クッキー、ピクセルタグ、その他の同様の技術を使用することがあります。クッキーは、端末のブラウザに配置される小さなテキストファイルで、設定を保存し、ユーザの体験を容易にし、向上させます。ピクセルタグ（ウェブビーコンとしても知られています）は、本サービスに埋め込まれたコードの一部で、本サービスでの利用に関する情報を取得します。また、我々では、メッセージが開封されたかどうか、操作されたかどうか、転送されたかどうかを把握するために、電子メールにウェブビーコンを含めることがあります。
          </p>
          <p>我々によるクッキー及び類似技術の使用は、以下の一般的なカテゴリーに分類されます。(i)
            本サービスの運用上必要なもの、(ii)本サービスのパフォーマンスに関連するもの、(iii)本サービスの機能に関連するもの、(iv)広告に関連するもの。</p>

          <h3>ソフトウェア開発キット</h3>
          <p>
            我々は、本サービスの機能の一部として、第三者のソフトウェア開発キット（以下「SDK」といいます）を使用する場合があります。SDKは通常、ユーザの端末識別子とユーザの本サービスの利用に関連する情報を取得します。SDKは、分析サービスやパーソナライズされた広告の提供を含む様々な目的で、分析や広告のためのパートナーを含む第三者にユーザの情報を送信する場合があります。我々が使用するSDKの詳細については、後述するとおり我々にお問い合わせください。
          </p>

          <h2>個人設定が可能なもの</h2>
          <h3>概要</h3>
          <p>ユーザは、ユーザの情報に関して特定の使用方法を停止することができる場合があります。</p>

          <h3>メールによるコミュニケーション</h3>
          <p>
            我々からの不要な電子メールを受信した場合は、電子メールの下部にある配信停止リンクを使用して、今後の電子メールの配信を停止することができます。ユーザが要求した本サービスに関する電子メールは引き続き配信されます。我々はまた、我々及び本サービスに関する特定の非宣伝的な通知（本サービスに関する通信、我々の利用規約又は本ポリシーの更新など）をユーザに送信することがありますが、ユーザはこれらの配信を停止することはできません。
          </p>

          <h3>モバイル端末の設定</h3>
          <p>
            我々は、我々のアプリを通じてプッシュ通知を送信することがあります。ユーザは、モバイル端末の設定を変更することにより、これらの通知を停止することができます。また、ユーザが我々のアプリを介して正確な位置情報の取得を有効にしている場合、我々はこれを取得することがあります。ユーザは、モバイル端末の設定を変更することにより、位置情報の利用を停止することができます。
          </p>

          <h3>パーソナライズされた広告</h3>
          <p>
            本サービス上で我々が採用する広告技術及び類似技術（例：クッキー）の利用を停止したい場合は、ユーザのブラウザや端末において、それらをブロック、無効化、又は削除することで停止することができます。また、以下の手順に従うことでもこれを停止することができます。なお、これによりパーソナライズされた広告を停止することはできますが、本サービス上にはパーソナライズされていないオンライン広告が引き続き表示されます。
          </p>

          <ol id="ordered-brackets-list">
            <li class="numbered">
              NEWSNIPPETが直接提供するパーソナライズされた広告を停止する場合：
              <br>
              表示される広告を長押しして「NEWSNIPPET Adsについて」を押してください。次のページに、本サービス上のパーソナライズされた広告を停止するためのリンクが表示されます。
            </li>
            <li class="numbered">
              Apple、Google、その他のモバイルOSの設定により広告を制限する場合：
              <br>
              <a href="https://support.google.com/ads/answer/2662856" target="_blank">Android</a>、<a href="https://support.apple.com/ja-jp/guide/iphone/iphf60a6a256/ios" target="_blank">iOS</a>などの指示に従ってください。また、その他のモバイル端末向けOSでは、パーソナライズされた広告の配信を停止する方法が記載されている場合があります。
            </li>
            <li class="numbered">
              NEWSNIPPET以外の第三者がNEWSNIPPETアプリ上で提供するパーソナライズされた広告を停止する場合：
              <br>
              各サービスのアカウント設定でパーソナライズされた広告を停止してください。特定のサービスにアカウントを持っていない場合は、そのサービスからパーソナライズされた広告は表示されない可能性が高いです。
            </li>
            <div class="overflow-container">
              <ul>
                <li><a href="https://adssettings.google.com/authenticated" target="_blank">https://adssettings.google.com/authenticated</a></li>
                <li><a href="https://www.facebook.com/ads/preferences/" target="_blank">https://www.facebook.com/ads/preferences/</a></li>
              </ul>
            </div>
          </ol>

          <p>
            オンライン広告業界では、自主規制プログラムに参加している広告主からのターゲティング広告の受信を停止できるウェブサイトも以下のように提供されています。これらのウェブサイトにアクセスすれば、ターゲット広告や消費者の選択とプライバシーについての詳細をご覧いただけます。
          </p>

          <div class="overflow-container">
            <ul>
              <li><a href="https://optout.networkadvertising.org/" target="_blank">https://optout.networkadvertising.org/</a></li>
              <li><a href="https://www.youronlinechoices.com/" target="_blank">https://www.youronlinechoices.com/</a>
              </li>
              <li><a href="https://optout.aboutads.info/" target="_blank">https://optout.aboutads.info/</a></li>
            </ul>
          </div>

          <p>クッキー関連の停止はモバイルアプリケーションでは有効ではなく、各ブラウザと各端末で個別に停止する必要があることに注意してください。</p>

          <h2>個人情報に関する諸権利</h2>
          <p>適用される法令に基づき、ユーザは以下の権利を有することがあります。</p>

          <ul>
            <li>我々によるユーザの個人情報の処理の有無を確認する権利</li>
            <li>ユーザの個人情報にアクセスする権利、及びそれに付随する詳細な情報のコピーを取得する権利</li>
            <li>ユーザが我々に提供した個人情報の電子コピーを受け取る、又はその情報を他社に送信するよう我々に依頼する権利（「データポータビリティの権利」）</li>
            <li>ユーザの個人情報を変更、更新、又は訂正する権利</li>
            <li>個人情報の取扱いへの同意を撤回する権利</li>
            <li>個人情報の利用を制限することを要求する権利</li>
            <li>我々がユーザの個人情報をターゲティング広告（適用法によって定義されます）等の目的で取り扱う場合に、そのオプトアウト（停止）を要求する権利</li>
            <li>我々が保有するユーザの個人情報の消去を要求する権利</li>
            <li>我々によるユーザの個人情報の取扱いに異議を唱える権利</li>
            <li>ユーザの要求を拒否する我々の決定に異議を唱える権利</li>
          </ul>

          <h2>情報の保有期間</h2>
          <p>
            我々は、ユーザが本サービスを利用している間、又は取得した目的を達成し、本サービスを提供し、紛争を解決し、法的防御方法を確立し、正当な事業上の利益を追求し、我々の契約を履行し、及び適用される法令を遵守するために必要な限り、本ポリシーに記載されているように我々が取得した個人に関する情報を保存します。
          </p>

          <h2>情報の管理</h2>
          <p>
            我々は、ユーザから取得した、又はユーザについて取得した情報を、不正なアクセス、使用、又は漏洩から保護するために、合理的な措置を講じます。具体的には、ユーザデータの取扱いに関する統一的な規程・マニュアルを整備し、ユーザデータのライフサイクルに応じて遵守すべきポリシーと具体的な取扱方法を定めています。これを我々のアプリの開発に関わる全ての関連会社間で共有し、定期的な研修を実施するとともに、専門の部署による定期監査を実施しています。
          </p>
          <p>
            本サービスを使用するか、又は我々に個人に関する情報を提供することにより、ユーザは、我々がユーザの本サービスの使用に関連するセキュリティ、プライバシー、及び管理上の問題に関して、我々がユーザと電磁的方法により通信することに同意するものとします。我々がセキュリティシステムの違反を覚知した場合、我々は、本サービス上に通知を掲示する方法、ユーザに電子メールを送信する方法その他の電磁的方法により、ユーザに通知することがあります。
          </p>

          <h2>他のサービスへのリンク</h2>
          <p>
            本サービスには、ニュースコンテンツを含む他のウェブサイトやサービスへのリンクが含まれている場合があります。第三者のウェブサイトやサービスで提供され、又は第三者により取得された情報は、当該ウェブサイトやサービスの所有者に直接提供され、当該第三者のプライバシーポリシーの対象となります。本ポリシーは、そのようなウェブサイトやサービスには適用されず、我々は、それらのウェブサイトやサービスのコンテンツ、プライバシー、又はセキュリティやポリシーについて責任を負いません。ユーザの情報を保護するためには、ユーザ自ら、自身のアクセスする他のウェブサイトやサービスのプライバシーポリシーを慎重に確認することをお勧めします。これらの他のウェブサイトやサービスを訪問する際は、ユーザご自身の責任で行ってください。
          </p>

          <h2>情報の越境移転</h2>
          <p>
            ユーザの情報は、日本又はアメリカ合衆国等、ユーザの居住する地域又は国以外の場所にあるコンピューティング機器に転送され、維持されることがあり、当該場所はユーザの居住国よりプライバシー規制が緩和されている場合があります。我々は、適用される法律の要件に沿ってユーザの情報を保護するよう努めます。
          </p>

          <h2>お問い合わせ先</h2>
          <p>本ポリシーに関するお問い合わせは、newsnippet.official@gmail.com 宛にお願いいたします。</p>

          <p style="margin-top: 3rem; font-size: 0.8rem;">
            個人情報取扱事業者に関する情報：<br>NEWSNIPPET運営<br>代表 長谷川航</p>
          <p style="margin-top: 3rem; font-size: 0.8rem;">
        </section>

  </div>

  <script async="" src="./NEWSNIPPET Privacy Policy_files/js"></script>
  <script type="text/javascript">
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-N391L2RXM1');
  </script>



<div id="FDED4CA2-6B79-5E38-D9A3-84BE9E380E2D"></div></body></html>